 body.modal-open {
     height: 100vh;
     overflow-y: hidden;
 }

 .main-header {
     background-color: #000;
     padding: .5rem 0 .5rem 0;
 }

 .menu {
     display: flex;
     justify-content: center;
     text-align: center;
 }

 .menu>li a {
     margin-right: 2rem;

     color: #fff;
     /* text-transform: uppercase; */
     letter-spacing: 2.1px;
     text-decoration: none;
     font-weight: bold;
     font-size: 16px;
 }

 .menu>li a.logo {
     font-size: 20px;
     text-transform: uppercase;
 }

 .about {
     max-width: 840px;
     height: 1000px;
     margin: 0 auto;
     background-image: url('./img/about.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }

 #grid {
     width: 1240px;
     margin: 0 auto;
     display: grid;
     -ms-grid-columns: 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 20px;
     grid-row-gap: 20px;
     margin-top: 30px;
     margin-bottom: 40px;
     padding: 0;
 }

 .card {
     width: 400px;
     height: 400px;
     background-size: cover;
 }

 .fullscreen-card {
     position: absolute;
     top: 100px;
     overflow-y: hidden;

     width: 1000px;
     height: 750px;
     background: no-repeat;
     background-color: rgba(43, 43, 43, 0.864);
     background-size: contain;
     background-position: center;
 }

 .close-btn {
     position: absolute;
     background-color: black;
     right: 1rem;
     width: 50px;
     height: 50px;
 }

 #main-auto {
     background-image: url('../img/машина сакура.jpeg');
 }

 #main-bus {
     background-image: url('./img/автобус\ Рубин.jpeg');
 }