:root {
    --primary: #1f1319;
    --secondary: #3a3034;
    --tretiary: #e9b1cd;

    --footerHeight: 54px;
}

/* Чтобы padding не увеличивал ширину элемента. */
* {
    box-sizing: border-box;
}

/* Блок кода, который прижимает футер книзу страницы. Помогает, если контента не достаточно чтобы прижать его. */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#content {
    padding: 10px;
    padding-bottom: var(--footerHeight);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footerHeight);
}

/* Конец блока. */


body {
    background-color: var(--primary);
    margin: 0;

    color: #cbcad7;
    font-family: Georgia, times, serif;
}

header {
    background-color: var(--secondary);
    text-align: center;
    color: #e9b1cd;
}

h1 {
    margin: 0;
    padding: 8px;

    letter-spacing: .2em;
}

nav {
    background-color: var(--primary);

    font-size: 20px;
}

nav ul {
    margin: 0;
    padding: 8px 0 8px 30px;
}

nav li {
    display: inline;
    margin: 32px;
}

a {
    color: #cbcad7;
}

nav li a {
    text-decoration: none;
}

a:hover, nav li a.selected {
    color: #e9b1cd;
}

p {
    font-size: 20px;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

#content {
    width: 1200px;
    /* Прижимаем футер к низу. */
    height: 100%;

    margin: 0 auto;

    top: 50px;
    padding: 16px;
}

#grid figure, #grid .folder::before, #grid .folder::after {
    width: 18em;
    height: 18em;

    margin: 1em;

    border: 1px solid var(--primary);
    box-shadow: 2px 2px 2px black;
    background-color: var(--secondary);
}

#grid figure {
    float: left;

    padding: 1em 1em 0 1em;
}

#grid figure:hover {
    box-shadow: 4px 4px 4px black;
    transform: scale(1.005);
}

#grid .folder {
    float: left;

    position: relative;
}

/* TODO: Объедини повторяющиеся стили для карточки и карточек под ней. */
#grid .folder::before {
    content: "";

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    transform: rotate(3deg);
}

#grid .folder::after {
    content: "";

    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;

    transform: rotate(5deg);
}

#grid figure img {
    display: block;
    width: 100%;
    height: 15em;
}


figcaption {
    margin-top: 0.5em;
}

dialog {
    background-color: var(--primary);
}

#fullscreenCard {
    width: auto;
    height: 100%;
    background: no-repeat;
    background-color: rgba(43, 43, 43, 0.864);

    background-size: contain;
    background-position: center;
}

#fullscreenCard .arrow {
    position: absolute;

    top: 50%;

    width: 50px;
    height: 50px;

    background-color: rgba(43, 43, 43, 0.864);
    cursor: pointer;
}

#fullscreenCard .arrow::before {
    content: "";
    display: block;

    position: relative;
    top: 15px;
    left: 10px;

    transform: rotate(-45deg);

    width: 25px;
    height: 5px;

    background-color: white;
    border-radius: 5px;
}

#fullscreenCard .arrow::after {
    content: "";
    display: block;

    position: relative;
    top: 25px;
    left: 10px;

    transform: rotate(45deg);

    width: 25px;
    height: 5px;

    background-color: white;
    border-radius: 5px;
}

#leftArrow {
    left: 60px;
}

#rightArrow {
    right: 60px;
    transform: rotate(180deg);
}

#closeBtn {
    position: absolute;

    top: 2rem;
    right: 3rem;

    width: 50px;
    height: 50px;

    background-color: rgba(43, 43, 43, 0.864);
    cursor: pointer;
}

#closeBtn::before {
    content: "";
    display: block;

    position: relative;
    top: 22px;
    transform: rotate(-45deg);

    width: 50px;
    height: 5px;

    background-color: white;
    border-radius: 5px;
}

#closeBtn::after {
    content: "";
    display: block;

    position: relative;
    top: 17px;
    transform: rotate(45deg);

    width: 50px;
    height: 5px;

    background-color: white;
    border-radius: 5px;
}

#subImages {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    bottom: 10px;

    margin: 0 auto;
}

#subImages div {
    display: inline-block;

    width: 100px;
    height: 100px;

    margin: 0 5px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(43, 43, 43, 0.864);
}

footer {
    clear: left;

    display: flex;
    justify-content: space-between;

    padding: 8px 32px 8px 32px;

    background-color: var(--secondary);
}